<template>
    <label :for="name" class="mt-2 block">
        <span class="text-gray-700" v-if="label">{{ label }}</span>
        <input type="text"
               class="mt-1 w-full block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
               v-model="localValue"
               :id="name"
               :name="name"
               :placeholder="label"
        >
    </label>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        label: {
            type: String,
        },
        value: {
            type: String
        },
    },
    data(){
        return{
            localValue: this.value
        }
    },
    watch: {
        localValue () {
            this.$emit('input', this.localValue)
        }
    }
}
</script>
