<template>
    <div class="bg-white px-10 py-4 rounded mt-2 block">
        <div class="text-lg font-bold">{{ label }}</div>

        <div v-for="(item, key) in localItems" :key="item.uid" class="flex">
            <div class="w-full">
                <slot
                    :item="item"
                    :number="key"
                ></slot>
            </div>
            <div class="w-36 flex justify-center items-center">
                <div @click="removeItem(key)">del</div>
            </div>
        </div>

        <div class="btn mt-4" @click="addItem">Add</div>
    </div>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: false
        },
        label: {
            type: String,
            required: false
        },
        items: {
            type: Array,
            default: []
        }
    },
    data() {
        return {
            localItems: this.items.map(item => {
                item.uid = new Date().toString()

                return item
            })
        }
    },
    methods: {
        removeItem(key){
            this.localItems.splice(key, 1)
        },
        addItem(){
            // if last item is empty
            // don't add another one

            let items = {...this.localItems}
            delete items.uid;

            if(items.length > 0){
                let lastItem = items.at(-1);

                if(Object.entries(lastItem).length === 0){
                    return;
                }
            }

            this.localItems.push({
                uid : new Date().toString()
            })
        }
    }
}
</script>
