<template>
    <label :for="name" class="mt-2 block">
        <span class="text-gray-700" v-if="label">{{ label }}</span>
        <select
            class="block mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 max-w-full"
            :value="currentValue"
            :id="name"
            :name="name"
            :placeholder="label"
        >
            <option v-for="(value, key) in options" :value="key">{{ value }}</option>
        </select>
    </label>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        value: {
            type: String,
            default: ''
        },
        label: {
            type: String,
        },
        options: {
            type: Object,
            required: true
        }
    },
    data: function () {
        return {
            currentValue: this.value,
        }
    },
}
</script>
