<template>
    <label :for="name" class="mt-2 block">
        <span class="text-gray-700" v-if="label">{{ label }}</span>
        <textarea
            class="
                    mt-1
                    block
                    w-full
                    rounded-md
                    border-gray-300
                    shadow-sm
                    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50
                  "
            rows="3"
            :placeholder="label"
            :value="currentValue"
            :id="name"
            :name="name"
        ></textarea>
    </label>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        value: {
            type: String,
            default: ''
        },
        label: {
            type: String,
        }
    },
    data: function () {
        return {
            currentValue: this.value,
        }
    },
}
</script>
