<template>
    <label :for="name" class="mt-2 block">
        <span class="text-gray-700" v-if="label">{{ label }}</span>
        <quill-editor
            class="h-72 bg-white overflow-hidden w-full shadow-lg"
            ref="myQuillEditor"
            :options="editorOption"
            v-model="currentValue"
        />
    </label>
</template>

<script>

export default {
    props: {
        name: {
            type: String,
            required: true
        },
        value: {
            type: String,
            default: ''
        },
        label: {
            type: String,
        }
    },
    data: function () {
        return {
            currentValue: this.value,
            editorOption: {
                placeholder: this.label
            }
        }
    },
    methods: {
        onTextChange: function (value) {
            //this.currentValue = value;
        }
    }
}
</script>
