<template>
    <select name="locale" @change="onLocaleChange">
        <option v-for="l in locales" :value="l" :selected="l === locale">{{ l }}</option>
    </select>
</template>

<script>
export default {
    props: {
        locales: {
            type: Array,
            required: true
        },
        locale: {
            type: String,
            required: true
        }
    },
    methods: {
        onLocaleChange(e){
            const locale = event.target.value

            const queryParams = new URLSearchParams(window.location.search);
            queryParams.set("locale", locale);

            window.location.href = window.location.pathname + '?' + queryParams.toString()
        }
    }
}
</script>
