<template>
    <div>
        <table class="w-full whitespace-no-wrap">
            <thead>
            <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3" v-for="column in columns">{{ column }}</th>
                <th class="px-4 py-3">Actions</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <tr v-for="row in paginator.data" class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3 font-semibold" v-for="column in columns">
                    <span>{{ row[column] }}</span>
                </td>

                <td class="px-4 py-3 text-sm">
                    <a class="btn" :href="route('roles.edit',row.id)">edit</a>
                    {!! Form::open(['method' => 'DELETE','route' => ['roles.destroy', $role->id],'style'=>'display:inline']) !!}
                    {!! Form::submit('Delete', ['class' => 'btn btn-danger']) !!}
                    {!! Form::close() !!}
                    <a class="btn">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        columns: {
            type: Array,
            required: false,
            default: ['id']
        },
        paginator: {
            type: Object,
            required: true
        }
    }
}
</script>
