<template>
    <div class="mb-10 bg-white shadow-sm">
        <div class="text-sm font-bold bg-gray-200 text-gray-700 px-5 py-4">{{ title }}</div>
        <div class="py-5 px-5">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        }
    }
}
</script>
