<template>
    <div>
        <ul class="flex sticky top-0 bg-gray-600 w-full z-30 h-12 flex items-center px-5 overflow-x-scroll">
            <li
                class="bg-gray-500 cursor-pointer rounded-full text-white text-sm my-2 px-10 py-1 mr-2 "
                style="scroll-margin-top: 30px"
                v-for="tab in tabs"
                :key="tab.title"
                @click="goToTab(tab)"
            >
                {{ tab.title }}
            </li>
        </ul>
        <slot></slot>
    </div>
</template>

<script>
export default {
    data() {
        return {
            selectedIndex: 0, // the index of the selected tab,
            tabs: []         // all of the tabs
        }
    },
    created() {
        this.tabs = this.$children
    },
    methods: {
        goToTab(tab) {
            let tabVnode = this.$slots.default.find(el => {
                if(!el.componentInstance){
                    return false;
                }
                return el.componentInstance.$options.propsData.title == tab.title;
            })

            const el = tabVnode.componentInstance.$el

            const offset = 48; // sticky nav height
            window.scroll({ top: (el.offsetTop - offset), left: 0, behavior: 'smooth' });

        }
    }
}
</script>
